.main-screen{
	height: 700px;
}

.main-container{
	margin-top: 200px;
}

.main-container h1, h3{
	margin: 50px;
}

#about{
	margin: 80px 0px;
}

#community{
	height:300px;
}

#community{

}

#community{
	
}